html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}
input, select, textarea {
	outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: var(--main-inactive-color);
}
ol, ul {
	list-style: none;
}


/* color variables */
:root {
	--main-active-color: #4F44E0;
	--main-inactive-color: #DBDBDB;
	--main-border-color: #E9E9E9;
	--main-text-color: #2A2A2F;
	--main-hover-color: #F4F5FD;
}
::placeholder {
	font-size: 13px;
  font-weight: 500;
  color: var(--main-text-color);
  font-family: Arial, Helvetica, sans-serif;
}
textarea:focus::placeholder, input:focus::placeholder {
	visibility: hidden;
}

.fa-solid {
	color: white;
}